%h2 目標達成履歴
- if notice
  = render :partial => "notice", :object => flash[:notice]

%table.table.table-striped
  %thead
    %tr
      %th 達成日
      %th 達成目標
  %tbody
    - @achieved_milestone_logs.each do |achieved_milestone_log|
      %tr
        %td= achieved_milestone_log.achieved_date
        %td= achieved_milestone_log.milestone_weight.to_s + " kg"
