<h1>目標達成履歴</h1>

<table>
  <tr>
  	<th>達成日</th>
  	<th>達成目標</th>
  </tr>
  <% @achieved_milestone_logs.each do |achieved_milestone_log| %>
  	<tr>
  		<td><%= achieved_milestone_log.achieved_date %></td>
  		<td><%= achieved_milestone_log.milestone_weight %></td>
  	</tr>
  <% end %>
</table>

<%= link_to "一覧へ戻る", weight_logs_path %>
