= simple_form_for [current_weight_log, @menu] do |f|
  .control-group
    = f.input :menu_type, :collection => Menu.select_menu_array, :prompt => "選択して下さい。"
  .control-group
    = f.input :detail
  .form-actions= f.submit nil, :class => "btn btn-success btn-large"