<h2>食事内容</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>種類</th>
      <th>内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @weight_log.menus.each do |menu| %>
  	<tr>
  		<td><%= display_menu_type(menu.menu_type) %></td>
  		<td><%= simple_format(menu.detail) %></td>
        <td>
          <%= link_to "変更", edit_weight_log_menu_path(@weight_log, menu.id), :class => "btn btn-mini" %>
          <%= link_to "削除", weight_log_menu_path(@weight_log, menu.id), method: :delete, data: { confirm: '本当に削除しますか？' }, :class => "btn btn-mini btn-danger" %>
        </td>
  	</tr>
  <% end %>
  </tbody>
</table>