%table.table.table-striped
  %thead
    %tr
      %th 種類
      %th 内容
  %tbody
    - @weight_log.menus.each do |menu|
      %tr
        %td= Menu.display_menu_type(menu.menu_type)
        %td= simple_format(menu.detail)
        %td
          = render :partial => "iterate_item_buttons",
                   :object => {:edit_path => edit_weight_log_menu_path(@weight_log, menu.id),
                               :delete_path => weight_log_menu_path(@weight_log, menu.id)}
