%table.table.table-striped
  %thead
    %tr
      %th カテゴリ
      %th 項目
      %th 設定値
  %tbody
    %tr
      %td Twitter連携設定
      %td コンシューマーキー
      %td= Settings.twitter_link.consumer_key
    %tr
      %td
      %td コンシューマーシークレット
      %td= Settings.twitter_link.consumer_secret