= link_to "変更", iterate_item_buttons[:edit_path], :class => "btn btn-mini"
= link_to "削除", iterate_item_buttons[:delete_path], method: :delete, data: { confirm: application_message(:confirm_delete) }, :class => "btn btn-mini btn-danger"